.field-label {
    min-height: 45px;
}

.divider {
    height: 1px;
    background-color: #ccc;
    /* display: inherit; */
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.report_list {
    background-color: lightblue;
    box-shadow: 0 0 3px 0 lightblue;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 15px;
    cursor: pointer;
    .child_list {
        display: flex;
        justify-content: space-between;
    }
}

@media print {
    @page { margin-top: 10px; }
  }